
.container {
background-attachment: black;
color: #fff;
padding: 40px;
min-height: 100vh;
font-family: sans-serif;
text-align: center;
}
.container p{
    color: #888;
    font-size: 1.1rem;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.card{
    background-color: rgb(22, 21, 21);
    border :1px solid #333;
    border-radius: 13px;
    padding: 25px;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}
.formGroup{
    display: flex;
    flex-direction:column ;
    gap: 10px;
}
input,select{
    background-color: #2a2a2a;
    border: 1px solid #444;
    color: white;
    padding: 12px;
    border-radius: 10px;
    outline: none;
}
.label{
    font-weight: bold;
font-size: 14px;
margin-top: 10px;

}
.actionBtn{
  background-color: #2a2a2a;
    border: 1px solid #444;
    color:#b0acac;
    padding: 12px;
    border-radius: 10px;
    outline: none;  
}
.actionBtn:hover{
    background-color: #444;
}
.inform{
    color: #888;
    font-size: 12px;
}

