
.container {
/* background-attachment: black; */
/* color: #fff; */
/* padding: 40px; */
/* min-height: 100vh; */
font-family: sans-serif;
/* text-align: center; */
}
.container p{
    color: #b3afaf;
    /* font-size: 1.1rem;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; */
}
.card{
    /* background-color: rgb(22, 21, 21); */
    border :1px solid #201f1f;
    /* border-radius: 13px; */
    /* padding: 25px; */
    max-width: 100%;
    margin: 20px auto;
    /* text-align: left; */
}
/* .formGroup{
    display: flex;
    flex-direction:column ;
    gap: 10px;
} */
/* input,select{ */
    /* border: 1px solid #444;
    color: white; */
    /* padding: 12px; */
    /* border-radius: 10px; */
    /* outline: none; */
/* } */
/* .actionBtn{
  background-color: #2a2a2a;
    border: 1px solid #444;
    color:#b0acac;
    padding: 12px; 
    border-radius: 10px; 
    outline: none;  
} */
/* .actionBtn:hover{
    background-color: #908c8c;
} */
.inform{
    color: #888;
    font-size: 12px;
}

.actionBtn:hover {
  transform: translateY(-1px);
  box-shadow: 0 0px 14px 5px rgba(124, 31, 209, 0.55);
}
.toast {
  position: fixed;
  bottom: 30px; /* غيري حسب ارتفاع الناف */
  right: 20px;
  min-width: 250px;
  max-width: 90%;
  padding: 12px 20px;
  border-radius: 12px;
  font-weight: 500;
  color:white;
background-color: rgb(132, 129, 129,0.3);
  box-shadow: 0 0px 10px 5px rgba(10, 239, 14, 0.55);
  z-index: 9999;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideIn 0.4s forwards, fadeOut 0.4s forwards 2.6s;
}

/* أنواع التنبيه */
.toast.success {  box-shadow: 0 0px 10px 5px rgba(10, 239, 14, 0.55); }
.toast.error {   box-shadow: 0 0px 10px 5px rgba(239, 10, 10, 0.55);}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}