.cardlogin{
     display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background: #080908 45% ;
}
.emailLogin{
    background-color:#3e4044;
    border:none;
    height:50px;
    font-size:20px;
}
