.cardsignup{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
 background: #080908 ; 
  
}
.emailSignup{

    background-color:#3e4044;
    border:none;
    height:50px;
    font-size:20px;
   
}
.emailSignup:focus{
  border:2px solid #9810fa;
    outline: none;
    box-shadow: 0 0 5px #9810fa;

}